@layer reset, base, tokens, recipes, utilities;

:root {
  --text-primary-color: #222;
  --text-secondary-color: #676767;
  --text-tertiary-color: #bababa;
  --text-disable-color: #d1d1d1;
  --text-error-color: #ca4f44;
  --background-skeleton-color: #e7e8e990;
}
